.menu-left {
    position: absolute;
    top:0;
    width: 117px;
    height: 1024px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.menu-left-logoArea {
    z-index: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 117px;
    height: 1024px;
    background-color: black;
}

.menu-left-logoArea img {
    width:64px;
    height: 64px;
    margin-bottom: 20px;
}

.copyright {
    position: absolute;
    bottom: 100px;
    color:white;
    font-size: 12px;
    font-weight: 500;
    width:138px;
    transform: rotate(-90deg);
}