.body-section-info-chart-group-barchart-customTooltip {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 39px;
    height:63px;
    background-color: #E60000;
    font-size: 7px;
    color:white;
}

.body-section-info-chart-barchart {
    background-color: #FBFBFB;
    margin-left:224px;
    margin-top:77px;
    width:835px;
    height:320px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.0212249);
    border-radius: 5px;
}


.body-section-info-chart-barchart-title {
    position: absolute;
    margin-top:0px;
    font-size: 17px;
    font-weight: 700;
    color:#20253A;
}