.body-section {
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 933px;
    display: flex;
    flex-direction: column;
}

.body-section-welcome-h1 {
    display: flex;
    flex-direction: row;
    margin-left:224px;
    margin-top:64px;
    margin-bottom: 0;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
}

.body-section-welcome-h1-name {
    margin-left:10px;
    color:#FF0101;
}

.body-section-welcome-p {
    margin-top:0px;
    margin-left:224px;
    font-weight: 400;
    font-size: 18px;
}

.body-section-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.body-section-info-chart-group {
    margin-left:224px;
    margin-top:30px;
    width:835px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.body-section-info-cards {
    width:400px;
    height: 648px;
    margin-top:77px;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

@media (max-width: 1024px) { 
    .body-section-welcome-h1 {
        margin-left:150px;
    }

    .body-section-welcome-p {
        margin-left:150px;
    }
    .body-section-info-chart {
        width:74%;
    }

    .body-section-info-chart-group {
        margin-left:150px;
        width:80%;
    }
}